/* ---------------------- Variables -------------------- */
:root {
    /* Font Style */
    --font-family: "Tinos", serif;
    --font-weight: 400;

    /* Colors */
    --back: white;
    --text: #242424;
    
    --temp: #436b93;
    --acc: #efc04a;

    --LHbg: var(--temp);
    --LHfg: var(--back);

    --RHbg: var(--back);
    --RHfg: var(--text);

    --headbg: var(--temp);
    --headfg: var(--back);


    /* Fonts */
    --font-size: 40px;

    /* Header */
    --picR: 10%;
    --font-name: 0.55em;
    --font-label: 0.475em;
    --font-contact: 0.425em;
    --font-icon: 0.325em;

    /* Content */
    --font-head: 0.475em;
    --font-title: 0.425em;
    --font-list: 0.4em;
    --font-txt: 0.375em;

    /* Letter */
    --font-Let: 0.385em;

    /* Size */
    --pad-H: 1cm;
    --pad-V: 0.5cm;
    --mar-V: 0.3cm;
}

/* ---------------------- Layout -------------------- */
body {
    margin: 0 auto;
    padding:0 auto;
    background: var(--back);
    justify-content: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding:0 auto;
}
page {
    width: 21cm;
    height: 29.7cm;
    background: var(--back);
    display: block;
    page-break-after: always;
}
@page {
    size: 21cm 29.7cm;
    margin: 0 auto;
    border: none;
}
/* Header */
.header {
    width: 21cm;
    height: 5cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box; 
    border-top: solid 0.1cm var(--temp);
    border-right: solid 0.1cm var(--temp);
    border-left: solid 0.1cm var(--temp);
}
/* Content */
.content {
    width: 21cm;
    height: 24.7cm;
    display: flex;
    flex-direction: column;
    padding-right: var(--pad-H);
    padding-left: var(--pad-H);
    padding-top: var(--pad-V);
    padding-bottom: var(--pad-V);
    color: var(--text);
    background-color: var(--back);
    box-sizing: border-box; 
    border: solid 0.1cm var(--temp);
}
.contentWH {
    width: 21cm;
    height: 29.7cm;
    display: flex;
    flex-direction: column;
    padding-right: var(--pad-H);
    padding-left: var(--pad-H);
    padding-top: var(--pad-V);
    padding-bottom: var(--pad-V);
    color: var(--text);
    background-color: var(--back);
    box-sizing: border-box; 
    border: solid 0.1cm var(--temp);
}
/* ------------- Header ---------------- */
/* Panel */
.leftside {
    width: 30%;
    height: 100%;
	display: flex;
    flex-direction: column;
    background-color: var(--LHbg);
    color: var(--LHfg);
}
.rightside {
    width: 70%;
    height: 100%;
	display: flex;
    flex-direction: column;
    background-color: var(--RHbg);
    color: var(--RHfg);
}
/* Picture */
.profilePic {
	display: block;
	height: 4cm;
	width: auto;
	margin: auto;
	margin-top:0.5cm;
	border-radius: var(--picR);
}
/* Intro */
.intro{
	height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    padding-left: var(--pad-H);
    padding-right: var(--pad-H);
}
.bio{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.basics{
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    color: var(--RHfg);
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5cm;
    margin-bottom: 0.25cm;
    font-size: var(--font-name);
}
.first{
    font-weight: normal;
}
.last {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0.25cm;
    color: var(--acc);
}
.label {
    font-weight: normal;
    font-size: var(--font-label);
    margin-bottom: 0.25cm;
    color: var(--temp);
}
/* Contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25cm;
}
.contact .item {
    font-size: var(--font-contact);
    color: var(--text);
}
.contact a{
    color: var(--text);
}
.contact i {
    color: var(--temp);
}

/* Socials */
.Social {
    width: 100%;
	display: flex;
    flex-direction: row; 
    justify-content: space-between;
    font-size: var(--font-icon);
    background-color: var(--temp);
}
.Social .item{
    padding-top: 0.15cm;
    padding-bottom: 0.15cm;
    padding-right: 0.5cm;
    padding-left: 0.5cm;
}
.Social i {
    color: var(--acc);
}

/* ------------- Content - CV ---------------- */
/* Headings */
.head {
    font-size: var(--font-head);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03cm;
    margin-bottom: 0.2cm;
    color: var(--text);
    border-bottom: solid 0.04cm var(--temp);
}
.title {
    letter-spacing: 0.0225cm;
    font-size: var(--font-title);
	margin-bottom: 0.05cm;
}
.org {
    font-size: var(--font-list);
	margin-bottom: 0.05cm;
    color: var(--temp);
}
.date {
    font-size: var(--font-list);
}
.highlights {
    font-size: var(--font-txt);
    text-align: justify;
    hyphens: auto;
}
a {
    text-decoration: none;
    font-style: italic;
    color: var(--text);
}
b {
    font-weight: 550;
    letter-spacing: 0.01cm;
    color: var(--temp);
}
li::marker {
    color: var(--temp);
  }
  
/* Profile */
.Pro {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
    text-align: justify;
}
.Pro .item{
    font-size: var(--font-Let);
    text-align: justify;
}
/* Strengths */
.Str {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
    text-align: justify;
}
.Str .item{
    font-size: var(--font-Let);
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
}

/* Work */
.Wor {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
    margin-top: var(--mar-V);
}
.Wor .item{
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
    padding-left: calc(var(--pad-H)/2);
    padding-right: calc(var(--pad-H)/2);
}
.Wor .line-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.Wor .highlights>ul {
    list-style-type: disc;
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-left: var(--pad-H);
}
.Wor .highlights {
    padding-left: 0cm;
    line-height: var(--lineH-high);
}

/* Education */
.Edu {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
}
.Edu .item{
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
    padding-left: calc(var(--pad-H)/2);
    padding-right: calc(var(--pad-H)/2);
}
.Edu .line-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/* Expertise */
.Exp {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
}
.Exp-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.Exp .item{
    font-size: var(--font-list);
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

/* Tech-Skills */
.tech-Ski {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
}
.tech-Ski .item{
    font-size: var(--font-list);
    padding-left: 0cm;
    padding-right: 0cm;
}
.tech-Ski ul {
    display: flex;
    margin-top: 0.1cm;
	margin-bottom: 0.1cm;
}
.tech-Ski ul li {
    width:100%;
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

/* Soft-Skills */
.soft-Ski {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
}
.soft-Ski-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.soft-Ski .item{
    font-size: var(--font-list);
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}

/* Publication */
.Pub {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
}
.Pub .item{
    font-size: var(--font-txt);
    text-align: justify;
    hyphens: auto;
	margin-top: 0.25cm;
	margin-bottom: 0.25cm;
    padding-left: calc(var(--pad-H)/2);
    padding-right: calc(var(--pad-H)/2);
}

/* Languages */
.Lan {
    width: 100%;
    align-self: center;
    margin-bottom: var(--mar-V);
}
.Lan-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: var(--font-list);
}
.Lan .item{
    display: flex;
    flex-direction: row;
}

.Lan .language{
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
}
.Lan .fluency{
    display: flex;
    flex-direction: row;
    padding-left: 0.15cm;
}
.Lan .language::marker {
    color: var(--temp); 
}

/* ---------------------- Letter --------------------- */
/* Company */
.Company {
    height: 4cm;
    padding-left: var(--pad-H);
	margin-top:0.5cm;
    display: flex;
    flex-direction: column;
	justify-content: space-around;
    font-size: var(--font-list);
}

/* Subject */
.Subject{
	margin-top: 0.75cm;
    font-size: var(--font-list);
    font-weight: bold;
}

/* Letter Content */
.Let-cont {
    margin-top: 0.25cm;
    text-align: justify;
    hyphens: auto;
}
.Let-cont .item{
    margin-top: 0.225cm;
    margin-bottom: 0.225cm;
    font-size: var(--font-Let);
}
.Let-cont .item .keyPoints>ul{
    padding: 0;
    padding-left: 0.35cm;
}
.Let-cont .item .keyPoints>ul>li{
    margin-bottom: 0.2cm;
}
.Let-cont b {
	font-weight: var(--font-weight);
}
.Let-cont i {
	font-weight: var(--font-weight);
}
.Close-let {
    margin-top: 0.1cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Close-let .NameCityDate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: var(--font-list);
}

.Close-let .SignPic {
    width: 7.5cm;
    color: var(--text);
}

/* ---------------------- Screens --------------------- */
@media screen and (max-width: 440px) {
    body {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 33px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 35px;
    }
}
